//Boid
@font-face {
    font-family: 'Nohemi';
    src: local('Nohemi'),
        url(/fonts/nohemi/Nohemi-Bold-BF6438cc587b5b5.ttf);
}

//Light
@font-face {
    font-family: 'Nohemi';
    src: local('Nohemi'),
        url(/fonts/nohemi/Nohemi-Light-BF6438cc5899919.ttf);
}

//Medium
@font-face {
    font-family: 'Nohemi';
    src: local('Nohemi'),
        url(/fonts/nohemi/Nohemi-Medium-BF6438cc5883899.ttf);
}

//Regular
@font-face {
    font-family: 'Nohemi';
    src: local('Nohemi'),
        url(/fonts/nohemi/Nohemi-Regular-BF6438cc587b5b5.ttf);
}

//Semibold
@font-face {
    font-family: 'Nohemi';
    src: local('Nohemi'),
        url(/fonts/nohemi/Nohemi-Semibold-BF6438cc587b5b5.ttf);
}