:root {
    //colors

    --blue: #1B00EA;
    --black: #191726;
    --grey: #504F59;
    --white: #ffffff;

    //fonts
    --nohemi-medium: 'Nohemi', sans-serif;
    --nohemi-bold: 'Nohemi', sans-serif;
    --nohemi-light: 'Nohemi', sans-serif;
    --nohemi-regular: 'Nohemi', sans-serif;
    --nohemi-semibold: 'Nohemi', sans-serif;
}

